{%extends "base.html"%}
{%set style "light.css"%}
{%set title "FOFOFOFOFOFOFOOFOF"%}
{%block "content"%}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi accusamus dicta quis fugiat magni numquam, autem dolores quos laudantium asperiores voluptas hic perspiciatis aspernatur ratione, eius quas nam, optio distinctio?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora debitis illum minus corporis deleniti ullam iste, vitae odit ab sint blanditiis eveniet nihil recusandae, eaque architecto a explicabo suscipit numquam!

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora debitis illum minus corporis deleniti ullam iste, vitae odit ab sint blanditiis eveniet nihil recusandae, eaque architecto a explicabo suscipit numquam!

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora debitis illum minus corporis deleniti ullam iste, vitae odit ab sint blanditiis eveniet nihil recusandae, eaque architecto a explicabo suscipit numquam!
{%endblock%}