{% if true %}123{% endif %}
{% var ii = 1337 %}
{% include tests/templates/foo.html %}
{% ii = 1338 %}
{% include tests/templates/foo.html %}

{% ii = 5 %}

<table>
  {% for idx in 0 .. ii %}
    <tr>
      <td>IDX:</td>
      <td>
        {{idx}}
        {% include tests/templates/foo.html %}
      </td>
    </tr>
  {% endfor %}
</table>

<table>
  {% for item in 0 .. ii %}
    <tr>
      <td>IDX:</td>
      <td>
        {{idx}}
        {% include tests/templates/foo.html %}
      </td>
    </tr>
  {% endfor %}
</table>
