{%extends base.html%}
{%set title "about"%}
{%block content%}
	<div>
		<h1>{{title}}</h1>
	</div>

	<div>
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eius numquam ut voluptatibus fuga, porro quae, cupiditate aperiam, beatae mollitia!</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eius numquam ut voluptatibus fuga, porro quae, cupiditate aperiam, beatae mollitia!</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eius numquam ut voluptatibus fuga, porro quae, cupiditate aperiam, beatae mollitia!</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eius numquam ut voluptatibus fuga, porro quae, cupiditate aperiam, beatae mollitia!</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eius numquam ut voluptatibus fuga, porro quae, cupiditate aperiam, beatae mollitia!</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eius numquam ut voluptatibus fuga, porro quae, cupiditate aperiam, beatae mollitia!</li>									
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eius numquam ut voluptatibus fuga, porro quae, cupiditate aperiam, beatae mollitia!</li>			
		</ul>
	</div>
{%endblock%}
