{%extends base.html%}
{%set title "my fancy title"%}
{%block content%}
	<div>
		<h1>I am the index</h1>

		<ul>
		<li>nwt is a little template engine inspired by jinja2.</li>
		<li>it do not enforce any web framework so use whatever you like!</li>
		<li>rudimentary freeze support with `freeze()`</li>
		<li>have a look at the other demos!</li>
		<li>if you feeling fancy today have a special look at the `dbdriven` database example and my little flatfile database <a href="https://github.com/enthus1ast/flatdb">flatdb</a> for <a href="http://nim-lang.org">nim-lang</a> </li>

		</ul>
	</div>	
{%endblock%}
