body {
	background-color: {{bg}};
	color: {{fg}};
}

#menu {
	position: absolute;
	top:0px;
	right: 0px;
	left:0px;
	height:50px;
	background-color: "red";
}


#content {
	position: absolute;
	top:50px;
	right: 0px;
	left:0px;
	bottom:0pc;
	/*height:50px;*/
	/*background-color: "red";*/
}